<h3 class="text-muted"><%= @petitions[:header] %></h3>

<div id="petitions">
  <table class="table table-striped">
    <tr>
      <th>Петиция</th>
      <% unless (2 .. 3) === @petitions[:type] %>
        <th>Автор</th>
      <% end %>
      <th>Голоса</th>
      <th>Дата создания</th>
      <% if @petitions[:type] == 2 %>
          <th colspan="2">Действия</th>
      <% end %>
    </tr>
    <% @petitions[:list].reverse.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition %></td>
          <% unless (2 .. 3) === @petitions[:type] %>
            <td>
              <%= petition.user.first_name %>
              <%= petition.user.last_name %>
            </td>
          <% end %>
          <td><%= petition.votes.count %></td>
          <td><%= petition.created_at.strftime('%d/%m/%Y %k:%M') %></td>
          <% if @petitions[:type] == 2 %>
              <td class="success"><%= link_to "Изменить", edit_petition_path(petition) %></td>
              <td class="danger"><%= link_to "Удалить", petition, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>