<!DOCTYPE html>
<html>
<head>
  <title>Petitions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="container">

  <table class="table">
    <tr>
      <td>
        <div id="header">
          <h4><%= link_to 'Онлайн петиции нашего района', root_path %></h4>
        </div>
      </td>
      <td>
        <div id="right_menu" class="nav navbar-nav navbar-right">
          <% if current_user %>
              <%= current_user.email %>&nbsp;
              (<%= link_to 'Выйти', logout_path %>)
          <% else %>
              <%= link_to 'Зарегистрироваться', signup_path %> |
              <%= link_to 'Войти', login_path %>
          <% end %>
        </div>
      </td>
  </table>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <div id="right_menu" class="nav navbar-nav navbar-right">
    <table class="table" style="width: 150px">
      <tr><td>
        <%= link_to "Все петиции", petitions_path( count: "all" ) %>
      </td></tr>
      <% if current_user %>
          <tr><td>
            <%= link_to "Создать петицию", new_petition_path %>
          </td></tr>
          <tr><td>
            <%= link_to "Мои петиции", petitions_path( user: current_user ) %>
          </td></tr>
      <% else %>
          <tr><td>
            <%= link_to "Создать петицию", login_path %>
          </td></tr>
    <% end %>
    </table>
  </div>

  <%= yield %>
  <br><br><br>
  <div id="copyright">
    <p>&copy;Gubskiy Oleg, RubyBursa'05, 2016</p>
  </div>
</div>
</body>
</html>